<h1>Selected</h1>
Title: {{title}}<br>
Message: {{message}}
  <p>Количество записей: {{users.length}}</p>
<ol>
{{#if users}}Ex.:    {{users}}{{/if}}
    {{#each this.users}}
      <li>
        <strong>ID:</strong> {{this.uid}} <br>
        <strong>Name:</strong> {{this.name}} <br>
        <strong>Email:</strong> {{this.email}} <br>
        <strong>Register:</strong> {{this.create_date}}<br>
        <strong>last visit:</strong> {{this.update_date}}<br>
      </li>
    {{/each}}
</ol>